/********************
YOUR STYLES
*******************/

body {
    background: #2f2f2f;
    color: white;
    text-align: center;
}

//.city {
//  color: red;
//}
//
//.state {
//  color: darkgreen;
//}
//
//.temp {
//  color: blue;
//}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

i {
  font-size: 24em;
}

.forecast {
    background: #2f2f2f;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    
    figure {
        border-right: 1px solid white;
        margin: 0;
        padding: 0 1.5em;
    }
    
    figure:last-child {
        border-right: none;
    }
}

.today {
    padding-bottom: 100px;
    
    .location {
        background: #2f2f2f;
        font-size: 1.5em;
        margin: 0 0 5em 0;
        padding: 1em
    }
    
    i {
        font-size: 23em;
        line-height: .5em;
    }
    
    .temp {
        font-size: 3em;
        padding: 0 .25em 0 .5em;
    }
    
    .high {
        opacity: .9;
    }
    
    .low {
        opacity: .9;
    }

}

//SIDR

$sidebar-width: 16em;
$sidebar-width-neg: -16em;

.sidr {
    background: #2f2f2f;
    border-right: 3px solid white;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;

    &.left {
        left: $sidebar-width-neg;
        right: auto;
    }
}

#sidr-show-hide {
    position: absolute;
    z-index: 100;
    left: 3em;
    top: 1em;
}

#close {
    display: block;
    font-size: 2em;
    margin: 1.5em 0;
}

// Sections
section {
  width: 100%;
  position: absolute;
 
}
#current-location {
  z-index: 1;
}

ul {
    border-top: 1px solid white;
    padding: 0;
    
    li {
       list-style: none;
       border-bottom: 1px solid white;
        padding: 10px;
        
    }
}

:target {
  z-index: 2;
}

// Conditionals

.sunny {
    background: #ffce00;
    background-image: linear-gradient(#ff8000, yellow);
}

.cloudy {
    background: gray;
    background-image: linear-gradient(#393939, #b7b7b7);
}

.rainy {
    background: #7474b5;
    background-image: linear-gradient(#385895, #6aa5ea);
}

.snowy {
    background: lightgray;
    background-image: linear-gradient(#808080, #9dbde2);
}

.stormy {
    background: #454545;
    background-image: linear-gradient(#292929, #555555);
}