/********************
YOUR STYLES
*******************/

body {
    background: #54ab5e;
}

.city {
  color: red;
}

.state {
  color: darkgreen;
}

.temp {
  color: blue;
}

i {
  font-size: 24em;
  color: red;
  text-shadow: 0 0 20px #000;
}

.sunny {
  background: yellow;
}

.cloudy {
  background: gray;
}

.rainy {
  background: blue;
}

.stormy {
    background: #454545;
}